# run git config --global core.excludesFile '~/.gitignore'
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.vscode
.idea
Thumbs.db

# Bundles are github repos too
.vim/bundle

# No authorized keys
.ssh/authorized_keys

# Allow selective configurations only
.config/*
!.config/starship.toml
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/tmux/
