# run git config --global core.excludesFile '~/.gitignore'
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.vscode
.idea
Thumbs.db

# Bundles are github repos too
.vim/bundle

# Allow selective configurations only
.config/*
!.config/tmux/
..config/tmux/tmux.conf
