[user]
	email = bernd@prager.ws
	name = Bernd Prager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = less -F -X
	excludesFile = ~/.gitignore
 	editor = vim
[alias]
	st = status
	ci = commit -v
  	p = push --force-with-lease
 	co = checkout
 	br = branch
[init]
 	defaultBranch = main
[credential "https://github.com"]
 	helper =
 	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
 	helper =
 	helper = !/usr/local/bin/gh auth git-credential
[column]
 	ui = auto
[branch]
 	sort = -committerdate
[maintenance]
	repo=$(HOME)/dotfiles
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[safe]
	directory = /mnt/saga/Bernd/Docs/Immigration
[trace2]
	eventTarget = af_unix:/Users/bprager/.gittrace/trace.sock
	eventBrief = true
	eventNesting = 1
	configparams = custom.metacommands
